/* Shared fort style */
body{
   font-family: 'Open Sans', sans-serif;
}
/* nav releted style */
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 220px;
}
.nav-title{
   color: #181818;
   font-size: 45px;
   font-weight: 800;
}
.primary-text{
   color: #FD6E0A;
}
nav > ul{
   display: flex;
   align-items: center;
}
nav li{
   list-style: none;
   margin-right: 50px;
}
nav a{
   text-decoration: none;
   color: #474747;
}
.btn-primary{
   border-radius: 5px;
   background: #FD6E0A;
   font-size: 20px;
   font-weight: 700;
   border: 0;
   padding: 15px 35px;
}
/* Header releted styles */
.header{
   background-color: #FFF8F3;
   background-image: url('../images/header_bg.png');
   background-repeat: no-repeat;
   background-position:bottom right;
}
.banner{
   display: flex;
   padding: 30px 30px 0px 220px;
   align-items: center;
   justify-content: space-between;
}
.banner .profile-pic{
   width: 500px;
   height: 600px;
}
.banner-content{
   width: 585px;
}
.greetings{
   font-size: 45px;
   color: #474747;
   margin-bottom: 0;
}
.banner-title{
   font-size: 85px;
   color: #181818;
   margin-top: 5px;
   margin-bottom: 20px;
}
.banner-description{
   font-size: 18px;
   color: #757575;
   margin-bottom: 20px;
}
main{
   margin: 130px 230px;
}
/* About section start here */
.about{
   padding: 120px 100px;
   /* margin: 130px 230px; */
   text-align: center;
   background-color: #FFF8F3;
}
.section-title{
   color:#181818;
   text-align: center;
   font-size: 35px;
   font-weight: 700;
}
.section-description{
   color:#757575;
   text-align: center;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
}
.about-info-container{
   display: flex;
   justify-content: space-around;
}
/* What I do section start here */
#what-do{
   padding: 30px 100px;
   /* margin: 130px 230px; */
   text-align: center;
}
.skill-container{
   display: flex;
   justify-content: space-around;
   margin-top: 50px;
}
.skill{
   width: 270px;
   height: 400px;
   margin: 0 6px;
   padding: 30px;
}
.skill-title{
   color: #181818;
   /* font-size: 20px; */
   font-weight: 700;
}
.skill-descripion{
   color: #757575;
}

/* Summary of resume style started  */
.summary-title{
   color: #181818;
   text-align: center;
   font-size: 35px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.resume-container{
   display: flex;
   gap: 70px;
   justify-content: space-between;
}
.resume-small-container{
   margin: 30px 0;
}
.education{
   width: 500px;
}
.education-title{
   color: #474747;
   font-size: 30px;
   font-weight: 700;
}
.resume-description{
   color: #757575;
}
.resume-info{
   color: #757575;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}
.resume-btn{
   text-align: center;
   margin-top: 50px;
}
.resume-title{
   line-height: 0px;
}
/* Footer section start  */
.footer-title{
   color: #181818;
   text-align: center;
   font-size: 35px;
   font-weight: 700;
}
footer{
   padding: 130px 230px;
   display: flex;
   justify-content: space-between;
   gap: 100px;
}
.footer-text{
   color: #474747;
}
.footer-icon{
   margin-right: 25px;
}
.footer-col{
   width: 50%;
}
.contact input, textarea{
   display: block;
   margin-bottom: 25px;
   padding: 18px 30px;
   color: #757575;
   border: none;
   border-radius: 5px;
   background:#FFF;
   width: 100%;
}